@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #FFFFFF;
  }

  li {
    list-style-type: none;
  }

  .visually-hidden{
    display: none;
  }

  .navigation_item {
    font-family: "PT Sans", sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
  }

  .navigation_link{
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
  }

  .lets_go_button{
    background-color:#756157;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase; 
  }

  .page-header{
    color: #000000;
    background-color: #FFFFFF;
  }

  .sedona_short_description{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;   
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #FFFFFF;
  }

.advantages_intro {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  }

.advantages_block_1,
.advantages_block_2 {
  color: #FFFFFF;
  background-color: #82B3D3;
 }

.advantages_block_3,
.advantages_block_5,
.sub_element_home,
.sub_element_souvenir {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages_block_4 {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.sub_element_food{
  color: #000000;
  background-color: #FFFFFF;
}

main h3,h4 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase; 
}

.advantages_number {font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.advantages_sublist_description, 
.advantages_description {

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

}

.Search_hotel_title{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}
.Search_hotel_text{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.Search_hotel_button {
font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 36px;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
background-color: #756157;

}
